@{
    ViewBag.Title = "Stock";
    Layout = null;
}

<h2>Stock</h2>
<hr />
<h4>Products in stock: <span class="badge badge-secondary">@Model.ItemsCount</span></h4>
<h4>Products Weight: <span class="badge badge-secondary">@Model.ItemsWeight/@Model.MaxWeight</span></h4>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Color</th>
            <th>Received Date</th>
            <th>Type</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>@item.Key</td>
                <td>@item.Count()</td>
                @foreach (var i in item)
                {
                    <td>@i.Color</td>
                    <td>@i.DeliveryTime</td>
                    <td>@i.Type</td>
                    break;
                }
            </tr>
        }
    </tbody>
</table>

