@{
    ViewBag.Title = "Stock";
    Layout = null;
}

<h2>Stock</h2>
<hr />
<div><p>Products in stock: @Model.ItemsCount</p></div>
<div><p>Products Weight: @Model.ItemsWeight/@Model.MaxWeight</p></div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Color</th>
            <th>Received Date</th>
            <th>Type</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Quantity</td>
                <td>@item.Color</td>
                <td>@item.DeliveryTime</td>
                <td>@item.Type</td>
            </tr>
        }
    </tbody>
</table>

